body{
    padding: 0;
    margin: 0;
}
.upperbg{
    padding-top:1.5%;
    padding-left:1.5%;
    padding-bottom:1.5%;
    color:darkblue;
    width: 100%;
    height:fit-content;
    font-size: 2em;
    padding-right: 0;
}
.secondbg{
    background-color: lightgoldenrodyellow;
    height: fit-content;
    padding-top: 1.5%;
    padding-left: 1.5%;
    /* padding-right: 0; */
    padding-bottom: 1.5%;
    color:black;
}
.secondbgtext{
    font-size: 1.5em;
    color:black;
    padding-left: 4%;
    letter-spacing: 1px;
    font-weight: bold;
}

.section-dropdown{
    display:inline;
  }
  .dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

.section3{
    color:black;
    text-align: center;
    width: 100%;
    padding: 10px;

}
.section4{
    padding: 2%;
}
.agreebutton1{
    background-color: green;
    color:white;
    text-align: center;
    align-items: center;
    padding: 0.5%;

}
.agreebutton{
    background-color: white;
    color:gray;
    text-align: center;
    align-items: center;
    padding: 0.5%;

}
.footer{
    text-align: center;
    padding: 2%;
    font-size: 10px;
    background-color: black;
    color:gray;
    margin-top: 1%;
}

// buttons......


.btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     position:relative;
    }
    
    .gtick{
    position:absolute;
    font-size:14px;
    bottom:-5px;
    right:-5px;
    }
    