<p align="center">
<a routerLink="single"><button class ="button"><h4>Single Correct</h4></button></a>
<a routerLink="multiple"><button class ="button"><h4>Multiple Correct</h4></button></a>
<a routerLink="integer"><button class ="button"><h4>Integer Type</h4></button></a>
<a routerLink="comprehension"><button class ="button"><h4>Comprehension</h4></button></a>
</p>
<router-outlet></router-outlet>