.bg {
    text-align : center;
    font-weight: bold;
    background: url('/assets/images/black-click-pen-on-white-paper-167682.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    height: fit-content;
    background-size: cover;
    color:white;
    align-items: center;
}

#top {
    padding: 10px 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgb(81, 116, 117);
    border: none;
    border-radius: 15px;
    
  }
  
  button:hover {background-color: black;}
  
  button:active {
    background-color: #3e8e41;
    
  }

  h1,h2 {
      font-family: verdana;
  }

  @media screen and (max-width: 600px) {
    .bg {
      width: 100%;
      padding: 50px;
      margin: 0;
    }
    h1 {
        font-size: 100%;
    }
    h2 {
        font-size: 100%;
    }
    button {
        font-size: 10px;
    }
  }

.card {
    border-radius: 5%;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 330px;
    width: 270px;
    margin: 5px 5px 5px 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;
  font-size: 14px;}
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1px;
      }
    .card-container .card:not(:last-child) {
        margin-right: 0;
      }
    
      .card.card-small {
        height: 60px;
        width: 168px;
      }
    
      .card-container .card:not(.highlight-card) {
        cursor: pointer;
      }
    
      .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }
    
      .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      }
    
      .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
      }
    
      .card.card.highlight-card span {
        margin-left: 0px;
      }
      
    // -------Section 3--------------

//     div.toptext
// {
// padding:20px;
// text-align: center;
// color: white;
// font-size: 150%;

// }
// div.gallery {
//   padding-left:80px;
//   padding-right:80px;
//   padding-top:0px;
//   transition: transform .2s;
//   float: left;
//   width: 400px;
//   border-radius: 0px;
//   position: relative;
// }

// div.gallery:hover {
// transform: scale(1.07);
// }

// div.gallery img {
//   width: 100%;
//   height: 190px;
//   border-radius: 10px;
//   position: relative;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

// }

// div.desc {
//   padding: 15px;
//   text-align: center;
//   border-radius: 20px;
//   color: white;
// }
// div.icons {
//     width:100%;
//     overflow: hidden;
// }
// div.help{
//     border: 8px solid #339933;
//     border-radius: 10px;
//     text-align:center;
//     width:80%;
//     margin:auto;
//     background-color: hsl(100, 100%, 70%); 
//     cursor: pointer;
// }
// div.or {
//     text-align: center;
//     color: cornsilk;
// }
div.background {
  //  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ;
  background-image: url('https://ak.picdn.net/shutterstock/videos/3245026/thumb/3.jpg');
  background-attachment: fixed;

      }
      .caraouselbg{
        height:110vh;
      }
@media only screen and (max-device-width:768px)
{
  .caraouselbg{
    height:55vh;
    width: 100%;
  }
}

//     div.gallery {
//         padding-left:40px;
//         padding-right:40px;
//         float: center;
//         width: 100%;
    
//       }
   
// } 
// @media only screen and (max-device-width: 700px)
// {
//   div.gallery img {
//     width: 90%;
//     height: 160px;
//     border-radius: 10px;
//     position: relative;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   }
//   div.toptext
// {
//   font-size: 100%;
// }
// div.help{
//   font: size 100px;
// }}
// @media (min-width :800px)
// {
//   div.background3{
//     display: block;
//   }
//   div.carousel {
//     display : none;
//   }
// }

// Section 3
[type=radio] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide1, #s4:checked ~ #slide2{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(0,0,-200px);
}

#s1:checked ~ #slide4, #s2:checked ~ #slide1,

#s3:checked ~ #slide2, #s4:checked ~ #slide3{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4
{
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}
//  section 3 prev and next buttons



ul{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
  
}

ul li{
  list-style: none;
  width:80px;
  height:80px;
  background:#262626;
  // margin: 0 10px;
  border-radius: 50%;
  transition:0.5s;
  font-size: 2.5em;
}
ul li.next{
float: right;
margin-left: 40vw;
}
ul li.prev{
  float: left;
  margin-right: 40vw;
  }
  .slidetext{

    // font-size: 1em;
    background-color: black;  text-align: center;
    font-size: 2vw;
    background-color: black; color:white; height:10vw; text-align: center;
  
  }
  @media only screen and (max-width: 768px){
    
    ul li.next{
      float: right;
      margin-left: 37.5vw;
      }
      ul li.prev{
        float: left;
        margin-right: 37.5vw;
        }
        ul li{
          list-style: none;
          width:40px;
          height:40px;
          background:#262626;
          // margin: 0 10px;
          border-radius: 50%;
          transition:0.5s;
          font-size: 0.8em;
        }
        .next:hover{
          transform: translateX(3px);
          transition: 0.5s;
        }
        .prev:hover{
          transform: translateX(-3px);
          transition: 0.5s;
        }
        .caraouselimg{

          height:100%;
          width:100%;
        } 
        .slidetext{
          background-color: black;  text-align: center;
          font-size: 2vw;
          background-color: black; color:white; height:14vw; text-align: center;
        }
        #slider {
          height: 60vw;
          position: relative;
          perspective: 1000px;
          transform-style: preserve-3d;
        }
      }
ul li:hover{
  background: #fff;
  color:black;
}

.prev{
  text-align: center; color:white;
  align-items: center;
  padding: 8px;
  
}

.next{
  text-align: center; color:white;
  align-items: center;
  padding: 8px;
  }
.next:hover{
  transform: translateX(10px);
  transition: 0.5s;
}
.prev:hover{
  transform: translateX(-10px);
  transition: 0.5s;
}

.caraouselimg{
  width: 100%;
  height:85%;
}
.caraouselimg1{
  width: 50%;
  height:85%;
}
.bottom{
  border-radius:1vw;
  background-color: transparent;
}





