<app-navbar></app-navbar>
<!-- 
<div class="progress-container">
  <div class="progress-bar" id="myBar"></div>
</div>   -->

<!-- <div class="content"> -->

  <!-- --------------Section1---------- -->


  <div class="bg">
    <h1> Boost your skills with a new way of learning</h1>
    <h2>
        The perfect online platform for JEE exam preparation
    </h2>
    <button id ="top">  Get started </button>
</div> 

<!-- --------------Section 2------------- -->
<div class="background">
<h1 style="text-align: center;color:white;  background-color: black; margin-bottom:0; padding-top: 2%;
padding-bottom: 1%; ">What sets us apart?</h1>
<div class="background" style="margin-top: 0; padding: 0;">
    <div class="card-container">
      
      <div class="card" style="margin-bottom: 4%;margin-top: 2%;margin-right: 3%; background-color:lightgoldenrodyellow;" ><i class="fa fa-list-ol" style="font-size:96px;margin-bottom:0px;margin-top:35px;"><i class="fa fa-check-square-o" style="font-size:48px;margin-left:-30px;color:green;margin-bottom:-114px;"></i></i><br><br><b style="font-size: 18px;margin-top: -8px;">Optimized environment</b><br><p style="text-align:center;margin-bottom: 10px;;">
        
       The test interface is designed such that you don't spend excess time on a question. Practising with a real exam based environment will make you make you better prepared for the final day. </p></div>
      <div class="card" style=" margin-bottom: 4%; margin-top:2%; margin-right: 3%; background-color: lightgoldenrodyellow;" ><i class="fa fa-commenting" style="color:grey;font-size:36px;margin-top:0px;"></i><i class="fa fa-group" style="font-size:84px;margin-bottom: -10px;;"></i><br><br><b style="font-size: 18px;">Interactive Community</b><br><p style="text-align:center">You can ask conceptual doubts from your peers and also gain insight about various career prospects from experienced seniors through our highly interactive community .</p></div>
      <div class="card"  style="margin-bottom: 4%;margin-top:2%;margin-right: 3%;background-color: lightgoldenrodyellow;" ><i class="fa fa-diamond" style="font-size:90px;margin-top:20px;color:lightpink;"></i><br><br><b style="font-size: 18px;">Highly Selective collection</b><br><p style="text-align:center">JEE Mains Relevant Question Bank with focus on important previous year questions.
      <br>  After all, practice should always be in the right way to get best results. </p></div>
      <div class="card" style="margin-bottom: 4%;margin-top:2%; margin-right: 3%;background-color: lightgoldenrodyellow;"><i class="fa fa-mortar-board" style="font-size:96px;margin-bottom: 35px;;"><i class="fa fa-rocket" style="font-size:60px;margin-left: -50px;margin-top: 45px;color:darkblue"></i></i><br><br><b style="font-size: 18px;margin-top:-55px;">Unlimited free practice</b><br><p style="text-align:center"> The features are absolutely free.<br> Sign up today to save your exam data or start giving a test right now!
       <br> So, What are you waiting for?</p></div>  
       
    </div></div>
    
 <!-- <div class="background">
    <div class="icons"> 
   <div class="toptext">Done with the preparation?...Test yourself!</div>
   <div class="gallery">
   <a href="https://ibb.co/LnFQtJn"><img src="https://i.ibb.co/kQ7389Q/image1.jpg" alt="image1" width="600" height="400" ></a>
     <div class="desc"><b>Choose and compete!</b><br>
     Start an online 1v1 questions competition to show off your skills.</div>
   </div>
   
   <div class="gallery">
     <a href="https://ibb.co/rpvvtyL"><img src="https://i.ibb.co/JpCCdkb/image2.jpg" alt="image2" width="600" height="400" ></a>
     <div class="desc"><b>Timed and curated tests </b><br>
     90 questions in 3hrs..looks easy? Give it a try!</div>
   </div>
   
   <div class="gallery">
     <a href="https://ibb.co/YWgX7MY"><img src="https://i.ibb.co/1ncMf5h/image3.jpg" alt="image3" border="0"></a>
     <div class="desc"><b>Free online support through videos and forums</b><br>
     Clear your collected doubts and solidify your preparation.</div>
    </div>
    </div>
       
    <div class="or"><h1>OR</h1></div><br>
   <div class="help">
     <i class="fa fa-cloud-upload" style="font-size:48px;color:green;float: left;position: relative;top: 10px; left: 60px;"></i>
     <h2>Volunteer and upload videos explaining the tricky questions and concepts!</h2>
   </div>
   </div>  -->



   <!-- -----------Section 3----------  --> 
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<div class="caraouselbg">
<h1 style=" text-align: center; opacity: 1; color:white; padding-top: 20px; padding-bottom: 2%;background-color: black;">Done with Preperation...? Test Yourself!</h1>
<div>   
<section id="slider" style="margin-top: 60px; width:100%;">
    <input type="radio" name="slider" id="s1">
    <input type="radio" name="slider" id="s2" checked>
    <input type="radio" name="slider" id="s3">
    <input type="radio" name="slider" id="s4">

    <label for="s1" id="slide1">

      <img src="../../assets/images/compi.jpg" class="caraouselimg">
      <p class="slidetext" style="color:pink;">  <b>Choose And Compete!</b><br>
        Take an Online test and assess yourselves!
        <br><button class="bottom" style="border-color: pink; color: pink;">COMPETE NOW!!</button>
      </p> 
      
    </label>
    <label for="s2" id="slide2">
          <img src="../../assets/images/learn.jpg"  class="caraouselimg">
          <p class="slidetext" style="color:orange;;"> <b>Free online support through videos and forums</b><br>
            Clear your collected doubts and solidify your preparation.
            <br><button class="bottom" style="border-color: orange; color: orange;" routerLink="my-video">LEARN NOW</button>
          </p> 
    </label>
    
    <label for="s3" id="slide3">
          <img src="../../assets/images/test.webp"  class="caraouselimg">
          <p class="slidetext" style="color:wheat;"> <b>Timed and curated tests </b><br>
            90 questions in 3hrs..looks easy? Give it a try!
            <br><button class="bottom" style="border-color: wheat; color: wheat;" routerLink="instructions">TEST YOURSELF</button>
          </p> 
    </label>
    <label for="s4" id="slide4">
          <img src="../../assets/images/volunteer.webp"  class="caraouselimg">
          <p class="slidetext" style="color:greenyellow;">
            <b>Chance To Volunteer!!</b><br>
            Upload videos explaining concepts and tricky questions <br>
            <button class="bottom" style="border-color: greenyellow; color: greenyellow;" routerLink="video-upload">UPLOAD VIDEOS</button>
          </p> 
        </label>
        <div>
          <ul>
            <li class="prev" title="Previous" onclick="previous()"><i class="fa fa-fw fa-angle-double-left" ></i></li>
            <li class="next" title="Next" onclick="next()"><i class="fa fa-fw fa-angle-double-right" id="next"></i></li>
          </ul>
        </div>
  </section></div>
  </div></div> 
 