<h1 align="center">Multiple Correct Interface</h1><br>
<form action=" " method="GET">
<table align="center" >
    <tr>
    <th>Exam Type:</th>
    <td><select required>
        <option>---Select From Here---</option>
        <option>JEE-Advanced</option>
        <option>UPSC</option>
    </select></td>
    <td></td>
    </tr>
    <br>
    <tr>
    <th>Question:</th>
    <td ><textarea placeholder="Write Your Question Here" rows="3" cols="50" style="resize: both;" name="question" required></textarea></td>
    </tr>
    <tr>
        <th>Question Image</th>
        <td>
            <!-- <input type="file" name="qimage"> -->
            <input type="text" name="qimage" placeholder="image-url">
        </td>
    </tr>
    <br>
    <tr>
        <th>Option1:</th>
        <td ><textarea placeholder="Option1" rows="1" cols="40" style="resize: both;" name="option1" required></textarea></td>
    </tr>
    <tr>
        <th>Option2:</th>
        <td ><textarea placeholder="Option2" rows="1" cols="40" style="resize: both;" name="option2" required></textarea></td>
    </tr>
    <tr>
        <th>Option3:</th>
        <td ><textarea placeholder="Option3" rows="1" cols="40" style="resize: both;" name="option3" required></textarea></td>
    </tr>
    <tr>
        <th>Option4:</th>
        <td ><textarea placeholder="Option4"  rows="1" cols="40" style="resize: both;" name="option4" required></textarea></td>
    </tr>
    <br>
    <tr>
        <th>Answer:</th>
        <td><input type="text" name="answer"></td>
    </tr><br>
    <tr>
        <td><b><input type="reset" value="RESET"></b></td>
        <td><b><button (click)="onSubmit()">ADD Question</button></b></td>
    </tr>
</table>
</form>