.main{
    font-family: monospace;
    display: flex;
}

.searchbar {
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 80px;
    margin-top: 0;
}

.searchbar form {
    width: 100vw;
    padding-left: 10px;
}

.searchbar input[type=text]{
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 6px;
    width: 65%;
    padding-left: 10px;
}

.searchbar button {
    padding: 6px 10px;
    margin-top: 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.searchbar button:hover {
    background: #cccccc;
}

.left{
    flex: 68%;
    padding: 8px 15px;
    border-right: 1px solid rgb(0,0,0,0.2);
    background: rgb(245, 245, 245);
}

.title{
    flex: 80%;
    margin-left: 5px;
}

.title i {
    font-size:24px;
    cursor: pointer;
    color: rgb(90, 90, 90);
}

.title i:hover {
    color: rgb(58, 58, 58);
    transition: 0.2s;
}

h1.title{
    border-style: outset ; 
}

.video video {
    box-shadow: 2px 4px 6px #6d6d6d;
}

.right{
    flex: 32%;
    overflow-y: scroll;
    padding: 4px 15px;
    background: rgb(233, 233, 233);
}

.dropdown{
    display: none;
}

.banner{
    display: flex;
    height: 20%;
    padding: 10px 0;
}

.upvotes{
    flex: 10%;
    text-align: center;
    padding-top: 20p;
}

.comments {
    margin: 0 10px;
}

.upnext-videos{
    display: flex;
    border-bottom:2px solid rgb(0,0,0,0.2); 
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 15px;
}

.img{
    width: 140px;
    height: 95px;
}

.upnext-videos img{
    border-bottom:5px solid rgb(78, 78, 78);
}

.upnext-title{
    max-width: max-content;
    padding-left: 15px;
}

.reference{
    border-style: outset ; 
    cursor: pointer;
}




@media screen and (max-width: 1100px) {
    .main {
        flex-direction: column;
    }
    .left, .right {
        flex: 100%;
        padding: 10px 0;
        margin: 0 8px;
    }
    .upnext-title{
        max-width: max-content;
        padding-left: 15px;
    }
    .img{
        width: 150px;
        height: 95px;
    }
    .comments {
        padding: 10px 0;
    }
    .searchbar input[type=text]{
        width: 85%;
    }
}