h1{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 160px;
    font-weight: 900;
    margin-top: 200px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRapnMIkdwmqzqEdmzO9RYEyHEmpMUJECqbIDuGSxVg57K09Zx7&usqp=CAU');
    color:transparent;
    -webkit-background-clip:text;

}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4pKd2hcVXlSIlbtMD3D38cuZhR56hr4a1r9vAQ8daR3pythqG&usqp=CAU');
background-repeat: no-repeat;
background-position: left;
background-attachment: fixed;
}
.button {
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:rgba(81,116,117,0.8);
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px 3px #666;
  }
  
  .button:hover {background-color:rgba(81,116,117,1) ;}
  
  .button:active {
    background-color: #517475;
    box-shadow: 0 3px 3px #666;
    transform: translateY(2px);
  }
  @media only screen and (max-width: 768px){
h1{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRapnMIkdwmqzqEdmzO9RYEyHEmpMUJECqbIDuGSxVg57K09Zx7&usqp=CAU');
    color:transparent;
    -webkit-background-clip:text;
    font-size: 5em;
}
body{
    background-image: none;
background-repeat: no-repeat;

background-attachment: fixed;

}
  }