<div class="container-fluid">
    
    <img class="oops mb-3 mx-auto d-block" style="width: 350px;" src="https://www.emarketeers.com/e-insight/wp-content/uploads/2011/06/oops.png">

    <div style="text-align: center;" class="info">
       <h4>404-PAGE NOT FOUND</h4>
       <h5 class="text-muted">The page you are looking for might have been removed<br> its name changed or is temporarily unavailable</h5>
       <button type="button" class="btn home btn-dark mt-3">GO TO HOMEPAGE</button>
    </div>


</div>

