<h1 align="center">Integer Question Interface</h1><br>
<form action=" " method="GET">
<table align="center" >
    <tr>
    <th>Exam Type:</th>
    <td><select required>
        <option>---Select From Here---</option>
        <option>JEE-Advanced</option>
        <option>JEE-Mains</option>
    </select></td>
    <td></td>
    </tr>
    <br>
    <tr>
    <th>Question:</th>
    <td ><textarea placeholder="Write Your Question Here" rows="3" cols="50" style="resize: both;" name="question" required></textarea></td>
    </tr>
    <tr>
        <th>Question Image</th>
        <td>
            <!-- <input type="file" name="qimage"> -->
            <input type="text" name="qimage" placeholder="image-url">
        </td>
    </tr>
    <br>
    
    <tr>
        <th>Answer:</th>
        <td><input type="number" name="answer" step="0.01" min="0"></td>
    </tr><br>
    <tr>
        <td><b><input type="reset" value="RESET"></b></td>
        <td><b><button (click)="onSubmit()">Add Question</button></b></td>
    </tr>
</table>
</form>