<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="position: fixed;z-index: 1000 ;width: 100%;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Edu-App</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Tab 1
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>

    <li class="nav-item dropdown" *ngIf="signedIn">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{user.name}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/">{{user.name}} (Profile)</a>
        <a class="dropdown-item" href="#">Dashboard</a>
        <a class="dropdown-item" (click)="logOut()">Log Out</a>
      </div>
    </li>

   	 <li class="nav-item">
        <a class="nav-link" href="#">Tab 3</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tab 4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tab 5</a>
    </li>

      <li class="nav-item" *ngIf="!signedIn">
        <a class="nav-link" href="signin">Sign In</a>
      </li>

      <li class="nav-item" *ngIf="!signedIn">
        <a class="nav-link" href="register">Register</a>
      </li>

     <!--  <li class="nav-item" *ngIf="signedIn">
        <a class="nav-link" href="/">{{user.name}}</a>
      </li>

      <li class="nav-item" *ngIf="signedIn">
        <a class="nav-link" (click)="logOut()">Log Out</a>
      </li> -->

    </ul>
   
  </div>
  
</nav>

<div class="progress-container">
<div class="progress-bar bg-dark" id="scrollBar"></div>
</div>

<div class="router-wrapper" appScollprogress>
  <router-outlet></router-outlet>
</div>
<router-outlet></router-outlet>
