.avatar{
	max-width:100px;
	max-height: 100px;
	object-fit: contain;
}

.progress-container {
	z-index: 1;
	position: fixed;
	top:56px;
	width: 100%;
	height: 8px;
	background: #ccc;
  }
.progress-bar {
		height: 8px;
		background:blue;
		width: 0%;
		position: fixed;
}



