<h1 align="center">Comprehension Interface</h1><br>
<form action="for.php" method="GET">
<table align="center" bordercolor="white">
    <tr>
    <th colspan="1">Exam Type:</th>
    <td colspan="3"><select required>
        <option>---Select From Here---</option>
        <option>JEE-Advanced</option>
        <!-- <option>UPSC</option> -->
    </select></td>
    <td></td>
    </tr>
    <br>
    <tr>
    <th colspan="1">Comprehension:</th>
    <td colspan="3"><textarea placeholder="Comprehension Here" rows="5" cols="100" style="resize: both;" name="comp" required></textarea></td>
    </tr>
    <tr>
        <th colspan="1">Comprehension Image</th>
        <td colspan="3">
            <!-- <input type="file" name="cimage"> -->
            <input type="text" name="cimage" placeholder="image-url">
        </td>
    </tr>
    <br>
    <tr>
        <th>Question1:</th>
        <td ><textarea placeholder="Write Your Question1 Here" rows="2" cols="40" style="resize: both;" name="q1" required></textarea></td>
        <!-- <td rowspan="7">|||</td> -->
        <th>Question2:</th>
        <td ><textarea placeholder="Write Your Question2 Here" rows="2" cols="40" style="resize: both;" name="q2" required></textarea></td>
        </tr>
    <tr>
        <th>Option1:</th>
        <td ><textarea placeholder="Option1" rows="1" cols="40" style="resize: both;" name="option11" required></textarea></td>
        <th>Option1:</th>
        <td ><textarea placeholder="Option1" rows="1" cols="40" style="resize: both;" name="option12" required></textarea></td>
    </tr>
    <tr>
        <th>Option2:</th>
        <td ><textarea placeholder="Option2" rows="1" cols="40" style="resize: both;" name="option21" required></textarea></td>
        <th>Option2:</th>
        <td ><textarea placeholder="Option2" rows="1" cols="40" style="resize: both;" name="option22" required></textarea></td>
    </tr>
    <tr>
        <th>Option3:</th>
        <td ><textarea placeholder="Option3" rows="1" cols="40" style="resize: both;" name="option31" required></textarea></td>
        <th>Option3:</th>
        <td ><textarea placeholder="Option3" rows="1" cols="40" style="resize: both;" name="option32" required></textarea></td>
    </tr>
    <tr>
        <th>Option4:</th>
        <td ><textarea placeholder="Option4" rows="1" cols="40" style="resize: both;" name="option41" required></textarea></td>
        <th>Option4:</th>
        <td ><textarea placeholder="Option4" rows="1" cols="40" style="resize: both;" name="option42" required></textarea></td>
    </tr>
    <tr>
        <th>Answer1:</th>
        <td style="margin-right:20px"><input type="text" name="answer1"></td>
        <th>Answer2:</th>
        <td><input type="text" name="answer2"></td>
    </tr><br>
    <tr>
        <th colspan="2"><b><input type="reset" value="RESET"></b></th>
        <th colspan="2"><b><button (click)="onSubmit()">Add question</button></b></th>
    </tr>
</table>
</form>