
.user-info{
  display: none;
}
.user-droplist{
  position:relative;
  margin-right: 85px;
  padding: 5px;
  width:150px;

}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.button11 {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 3px  #999;
  margin-right: 10px;
 }

.button11:hover {background-color: darkblue;}

.button11:active {
  background-color: blue($color: #000000);
  box-shadow: 3px 3px 3px  #999;
  transform: translateY(2px);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.01); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}

.info-div{
  position: absolute;
  right:10px;
  top:10px;
  display:none;
}

.mobile-flex-bar{
 background-color: #f2f2f2;
 position: relative;
}

.mobile-flex-container{
  display: none;
  overflow:scroll;
  width:85%;
  overflow-y: hidden;
  
}
.mobile-flex-container > div {
  width: 40px;
  margin: 5px;
  text-align: center;
  line-height: 25x;
  font-size: 20px;
  flex-shrink: 0;
}


.conditional{
  display:none;
}
.container-fluid {
 
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}
.col-xl-9{
  padding:0;
  padding-left: 15px;
  
  }
  .col-xl-3{
    padding:0;
    
    }
body{
 margin-bottom: -23px;
}


// <<<<<<< HEAD
.bg1{
    background-color:gainsboro;
    color:black;
    height:45px;
    margin-top: -6px;
    margin-bottom:0px;
    width:100%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  .button {
  
    color: white;
 
    border: none;
    cursor: pointer;
    width: 100%;
  
  }
  
  .button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    
  }
  .bg2{
      background-color: #262626;
      color:white;
      text-align: right;
      width:100%;
  }
  .bg3{
      background-color: gray;
      color:gray;
      height:50px;
  }
  .bg4{
      background-color: gainsboro;
      color:black;
      text-align: right;
      padding:10px;
      height:40px;
      font: 12px;
  }
  .section-dropdown{
    float:left;
    display:none;
    margin-top:-10px;
  }


  .bg41{
    background-color:#f2f2f2;
    color:black;
    height:35px;
    padding:5px;
    font-size:18px;
  }
  @media only screen and (max-width: 640px){
    .bg41{
      display:none;
    }
  .bg42{
    background-color:#f2f2f2;
    color:black;
    height:35px;
    padding:5px;
  }
  .main-body{
  
  }

    }
    @media only screen and (min-width: 640px){
    
      .bg42{
       display:none;
      }
        }
  
.quest{float:left;
margin-left: 15px;
font-weight: bold;
}

.marking{float:right;}

  .button1{
      padding:0;
      height:45px;
      width:100px;
      margin-right: 10px;
  }
  .button1:hover{
    padding:0;
    height:45px;
    width:100px;
    margin-right: 10px;
    background-color: cornflowerblue;
}
  .float{
      float:right;
  }
  .bg6{
      height:145px;
      background-color: red;
  }
  .bg7{
      height:445px ;
      background-color:white;
      color:black;
      overflow: scroll;
      padding:20px;
      word-wrap: break-word;
      font-size: 18px;
  }
 
  .button6{
    background-color:yellow;
    color:black;
    padding:10px;
    margin-right: 10px;
    float: right;
}
.button5{
    background-color: white;
    color:black;
    padding:10px;
    margin-right: 10px;
}
  .bg8{
      background-color: blue;
      height:25px;
  } 
  .button4{
    background-color: darkmagenta;
    color:white;
    padding:10px;
    margin-right: 10px;
}




#scroll {
  overflow: hidden;
}

#scroll:hover, #scroll:active, #scroll:focus {
  overflow-y: auto;
  overflow-x:hidden;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height:237px;
}

.flex-container > div {
  width: 40px;
  margin: 5px;
  text-align: center;
  line-height: 25x;
  font-size: 20px;
}

.info > div {
  width: 40px;
  margin: 5px;
  text-align: center;
  line-height: 20x;
  font-size: 15px;
}

.btn{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 position:relative;
}

.gtick{
position:absolute;
font-size:14px;
bottom:-5px;
right:-5px;
}
// .profile{position:relative;}
#name{position:absolute;
top:5px;
left:150px;}

.footer{
     position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#f2f2f2;
    padding: 9px;}
  // >>>>>> 3bd4b06170cddfce1a0fc58f30912fd5efc59b14
  @media only screen and (max-width: 640px) and (min-width: 340px) {
    .footer{
      flex-direction: row;
      flex-wrap: wrap;
      display: flexbox;
      position: relative;
    }
    .button13{display:none;}
    .button11 {
     display: none;
     }
     .button12 {
      padding: 10px 20px;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 10px;
      outline: none;
      color: #fff;
      background-color: blue;
      border: none;
      border-radius: 15px;
      box-shadow: 3px 3px 3px  #999;
      margin-right: 5px;
     }
     .button12:hover {background-color: darkblue;}

     .button12:active {
       background-color: blue($color: #000000);
       box-shadow: 3px 3px 3px  #999;
       transform: translateY(2px);
     }    
  }
  @media only screen and (max-width: 678px) {
    .footer{
      flex-direction: row;
      flex-wrap: wrap;
      display: flexbox;
      position: relative;
    }
    .button11 {
     display: none;
     }
     .button12 {
      padding: 15px 25px;
      font-size: 10px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 10px;
      outline: none;
      color: #fff;
      background-color: blue;
      border: none;
      border-radius: 15px;
      box-shadow: 3px 3px 3px  #999;
      margin-right: 10px;
     }
     .button12:hover {background-color: darkblue;}
.button13{
  display: none;
}
     .button12:active {
       background-color:blue;
       box-shadow: 3px 3px 3px  #999;
       transform: translateY(2px);
     }    
  }
  @media only screen and (min-width: 630px) {
    
    .button12 {
     display: none;
     }
  }
  
  .sbmit{
    float:right;
    }
    .save-next{
      float:right;
    }
    .drop-list{
      position:relative;
      margin-right: 160px;
      padding: 5px;
      width:200px;

    }

  @media only screen and (max-width: 1310px) {
   .conditional {
      display: inline;
    }
    @media only screen and (orientation:landscape){
      .bg7{
        height:200px ;
        background-color:white;
        color:black;
        overflow: scroll;
        padding:20px;
        word-wrap: break-word;
    }
    

    .footer{
      flex-direction: row;
      flex-wrap: wrap;
      display: flexbox;
      position: relative;
    }
    .button11 {
     display: none;
     }
   
     .button12{
       display: none;
     }
  }
 
 
   
    .flex-container{
    height:210px;
    }
    .main-body{
      margin-bottom:-15px;
    
    }
  }

  @media only screen and (max-width: 1200px) {
   .user-info{
     display:inline-block;
   }
   
    .sidebar{
     display: none;
   }
  .heading{
    font-size: 30px;
  }
  .bg1{
    text-align: center;
    margin-bottom: -5px;
  }
  .subject-list{
    display: none;
  }  
  .section-dropdown{
    display:inline;
  }
  .mobile-flex-container{
    display: flex;
  }
  .info-div{
    display:block;
  }

}
@media only screen and (max-width: 640px) {

    .clr-rspns{
     margin-left: 15%;
    }
}

@media only screen and (max-width: 1382px) {

  img{
    height:80px;
    width:80px;
  }
  .flex-container{
    height:220px;
  }
  #name{
    font-size: 35px;
  }
}

@media only screen and (max-width: 1216px) {
 .flex-container{
   height:160px;
 }

}



@media only screen and (width : 640px) and (height: 360px) {
  .button12 {
     display: inline-block; 
  }
  }




