  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  

    <div class="bg1"><h1 class="heading" style="margin-top: 8px;">Examination Panel</h1></div>
    <div class="bg2"><button class="btn btn-danger btn-sm button mt-2 mr-4 mb-2" onclick="document.getElementById('id01').style.display='block'" style="width:auto;font-size: 16px;">Instructions</button>

        <div id="id01" class="modal">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          
            <h1 style="text-align: center; font-size: 30px;">This is the Instructions sheet!</h1>
        </div>
        <div class="dropdown user-info">
          <button class="button btn mt-2 mr-3 mb-2 btn-sm "  style="width:auto; margin-left: 5px; background-color: blue;" type="button" data-toggle="dropdown">User Info</button>
          <ul class="dropdown-menu user-droplist">
            <li class="mb-1" style="text-align: center;"><img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" class="rounded mt-1 ml-1"alt="profilepic" width="120" height="120" ></li>
            <li class="mb-1" style="text-align: center; font-size: 25px;"><h1>Student Name</h1></li>
          </ul>
        </div>

<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
 
<h1 style="text-align:center">These are the Useful Details!</h1>
        </div>
    </div>
       
    

<div class="container-fluid main-body">
  <div class="row">
    <div class="col-xl-9 main-content">
      
                      
           <div class=" bg4">
            <div class="section-dropdown">
            <div class="dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="box-shadow: none;">
                Question Section
              </button>
              <div class="dropdown-menu" >
                <a class="dropdown-item" href="#">Section 1</a>
                <a class="dropdown-item" href="#">Section 2</a>
                <a class="dropdown-item" href="#">Section 3</a>
              </div>
            </div>
            </div>
             
            <p id="safeTimerDisplay"></p><!-- <p id="safeTimerDisplay">00:30</p><strong style="font-size: 18px;">Time-Left: <span id="time"></span></strong>       -->
           </div>
           <div class=" btn-group subject-list">
               <button class="button1 btn" style="box-shadow: none; font-size: 18px;">Section 1</button>
               <button class="button1 btn" style="box-shadow: none; font-size: 18px;">Section 2</button>
               <button class="button1 btn" style="box-shadow: none; font-size: 18px;">Section 3</button>
           </div>
<div class="mobile-flex-bar">
  <div class="mobile-flex-container">
    <div class="btn">1</div>
    <div class="btn">2</div>
    <div class="btn">3</div>
    <div class="btn">4</div>
    <div class="btn">5</div>
    <div class="btn">6</div>
    <div class="btn">7</div>
    <div class="btn">8</div>
    <div class="btn">9</div>
    <div class="btn">10</div>
    <div class="btn">11</div>
    <div class="btn">12</div>
    <div class="btn">13</div>
    <div class="btn">14</div>
    <div class="btn">15</div>
    <div class="btn">16</div>
    <div class="btn">17</div>
    <div class="btn">18</div>
    <div class="btn">19</div>
    <div class="btn">20</div>
    <div class="btn">21</div>
    <div class="btn">22</div>
    <div class="btn">23</div>
    <div class="btn">24</div>
    <div class="btn">25</div>
    <div class="btn">26</div>
    <div class="btn">27</div>
    <div class="btn">28</div>
    <div class="btn">29</div>
    <div class="btn">30</div>
  </div>
  <div class="info-div">
    <div class="dropdown">
      <button type="button" data-toggle="dropdown" style="font-size:24px;border:none"><i class="fa fa-info-circle"></i></button>
      <ul class="dropdown-menu drop-list">
        <li class="mb-1"><div class="btn" style="background-color:#63b946;">13</div> Answered &nbsp;</li>
        <li class="mb-1"><div class="btn bg-danger text-white">13</div> Not Answered </li>
        <li class="mb-1"><div class="btn">12</div> Not Visited</li>
        <li class="mb-1"><div class="btn text-white" style="background-color:#8019e6;">13</div> Marked For Review</li>
        <li><div class="btn text-white" style="background-color:#8019e6;">13<div class="gtick">&#x2705;</div></div> Answered and Marked For Review</li>
      </ul>
    </div>
  </div>
</div>

   
<div class="bg41">
  <div class="quest">Question :</div>
  <div style="text-align: right;" class="marking">
    <div style="color:#63b946;float:left;font-weight: bold;">Positive: marks </div>
    <div style="float:left;font-weight: bold;">&nbsp;|&nbsp;</div>
    <div style="color:#d9534f;float:left;font-weight: bold;"> Negative: marks&nbsp;&nbsp;&nbsp;</div>
  </div>
</div>
   
<div class="bg42">
  <div class="quest">Question :</div>
  <div style="text-align: right;" class="marking">
    <div style="float:left;font-weight: bold;">
      <div  style="float:left;font-weight: bold;">Marks : &nbsp;</div>
      <div  style="float:left;font-weight: bold;color:#63b946;">+ </div>
      <div  style="float:left;font-weight: bold;">&nbsp;/&nbsp;</div>
      <div  style="float:left;font-weight: bold;color:#d9534f;">- &nbsp;&nbsp;&nbsp;</div>
  </div>
  
  </div>
</div>
<div class=" bg7">Questions will Come here<br><hr><br>
  <form >
    <div class="form-group">
      
      <div mathjax> 
        <input type="radio" name="Answer">  \(x = {{'{'}}-b \pm \sqrt{{'{'}}b^2-4ac} \over 2a}\)<br><br>
        <input type="radio" name="Answer"> Option2<br><br>
        <input type="radio" name="Answer"> Option3<br><br>
        <input type="radio" name="Answer"> Option4<br><br>
      </div>
      
      
    </div>
  </form>
</div>    

    </div>
   
    <div class="col-xl-3 sidebar">
    <div class="profile">
    <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" class="rounded mt-1 ml-1"alt="profilepic" width="120" height="120" >
    <h1 id="name" style="font-size: 40px;">Student Name</h1>
  </div>
  <hr>
  
  <div class="flex-container mt-3 ml-2 mr-2 rounded" id="scroll">
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 1?"'>1</div>
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 2?"'>2</div>
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 3?"'>3</div>  
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 4?"'>4</div>
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 5?"'>5</div>
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 6?"'>6</div>  
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 7?"'>7</div>
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 8?"'>8</div>
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 9?"'>9</div>
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 9?"'>10</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 11?"'>11</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 12?"'>12</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 13?"'>13</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 14?"'>14</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 15?"'>15</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 16?"'>16</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 17?"'>17</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 18?"'>18</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 19?"'>19</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 20?"'>20</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 21?"'>21</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 22?"'>22</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 23?"'>23</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 24?"'>24</div>
    <div class="btn" onclick='document.getElementById("0101").innerHTML="Question 25?"'>25</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 26?"'>26</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 27?"'>27</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 28?"'>28</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 29?"'>29</div>
    <div class="btn"onclick='document.getElementById("0101").innerHTML="Question 30?"'>30</div>
  </div>
  
  <div class="info mt-2" >
  <div class="btn" style="background-color:#63b946; font-size: 15px;">3</div> Answered &nbsp;
  <div class="btn bg-danger text-white" >1</div> Not Answered <br>
  <div class="btn">12</div> Not Visited <br class="conditional">
  <div class="btn text-white" style="background-color:#8019e6;">6</div> Marked For Review <br>
  <div class="btn text-white" style="background-color:#8019e6;">6<div class="gtick">&#x2705;</div></div>Answered and Marked For Review
  </div>
  
  </div>
</div>
</div>
<footer class="footer mt-4">
  <button class="button11"><b>Clear Response</b></button>
  <button class="button11" style="background-color: #8019e6;"><b>Mark For Review & Next</b></button>
  <button class="button11 sbmit" style="background-color: #d9534f;" ><b>Submit</b></button>
  <button class="button11 save-next" style="background-color:#63b946;"><b>Save & Next</b></button>
  <button class="button12" style="background-color: #8019e6;"><b>Mark For Review & Next</b></button>
  <button class="button12 " style="background-color:#63b946;"><b>Save & Next</b></button>
  <!-- <button class="button12">Submit</button> -->
  <!-- <button class="button12 ">Save & Next</button> -->
  <button class="button12" style="margin-left: 24px;"><b>Clear Response</b></button>
  <button class="button12 " style="background-color: #d9534f;" ><b>Submit</b></button>
  <!-- <button class="button13"><b>Clear Response</b></button>
  <button class="button13" style="background-color: #8019e6;"><b>Mark For Review & Next</b></button>
  <button class="button13 sbmit" style="background-color: #d9534f;" ><b>Submit</b></button>
  <button class="button13 save-next" style="background-color:#63b946;"><b>Save & Next</b></button> -->
</footer>