<app-navbar></app-navbar>


<style type="text/css">
  .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 100px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
</style>

<div class="container" >
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post" enctype="multipart/form-data">
				

				

				<!-- title -->
				<div class="form-group">
					<label for="id_title">Title</label>
					<input class="form-control" type="text" (change)="onTitleChanged($event)" name="title" id="id_title" placeholder="Title" required autofocus>
					
				</div>

				<!-- Body -->
				<div class="form-group">
					<label for="id_body">Content</label>
					<textarea class="form-control" rows="10"input type="text" (change)="onBodyChanged($event)" name="body" id="id_body" placeholder="This video is about..." required></textarea>
				</div>

				<!-- Video -->
				<div class="form-group">
					<label for="id_image">Video</label>
					<br>
					<input type="file" (change)="onVideoChanged($event)"  name="videofile" id="id_video" accept="video/*" required>
				</div>

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit" (click)="newVideo()">UPLOAD</button>
				<br>
				<br>
				<div class="form-group"  *ngIf="showMsg" >

					
					
					  <p class="alert alert-success" id="successMessage">
						  <strong> Uploaded ! have a nice day</strong>
			
					  </p>
					
					
				  </div>
			</form>	
		</div>
	</div>
</div>





